.navigation {
    width: 75px;
    height: 100%;
    background-color: $white;
    transition: width 0.3s ease-in-out;
    overflow: hidden;

    &_expanded {
        width: 250px;
    }

    &__toggle {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 10px;
        padding-right: 0;
        border: none;
        background-color: transparent;
        font-size: 20px;
        font-weight: 700;
        color: $white;
        cursor: pointer;
        outline: none;

        &-logo {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 55px;
            height: 55px;
            margin-right: 10px;
            border-radius: 50%;
            background-color: $secondary;
            transition: all 0.3s ease-in-out;
        }

        &-text {
            visibility: hidden;
            width: 0;
            font-size: 18px;
            color: $secondary;
            text-align: left;
            white-space: nowrap;
            transition: all 0.3s ease-in-out;

            &_visible {
                visibility: visible;
                flex-grow: 1;
            }
        }

        &:hover {
            .navigation__toggle-logo {
                background-color: $secondaryLight;
            }
        }
    }

    &__routes {
        display: flex;
        flex-direction: column;
    }
}