$white: #ffffff; // background, text
$primary: #b5f5ec;
$primaryLight: #e6fffb;
$primaryDark: #08979c;
$secondary: #747474;
$secondaryLight: #a3a3a3;
$secondaryDark: #494949;

body, * {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: $primary;
}

#root {
    height: 100vh;
}