$white: #ffffff; // background, text
$primary: #ee6402;
$primaryLight: #ff7336;
$primaryDark: #9e0000;
$secondary: #747474;
$secondaryLight: #a3a3a3;
$secondaryDark: #494949;

body, * {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: $primary;
}

#root {
    height: 100vh;
}