:root {
    --white: #ffffff;
    --primary: #b5f5ec;
    --primaryLight: #e6fffb;
    --primaryDark: #08979c;
    --secondary: #747474;
    --secondaryLight: #a3a3a3;
    --secondaryDark: #494949;
}
