.navigationItem {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    border: none;
    background-color: $white;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &_exited {
        justify-content: center;
    }
    
    &:hover,
    &_active {
        background-color: $primary;

        span {
            color: #494949;
        }

        path {
            fill: $white;
        }
    }

     p {
         display: flex;
         align-items: center;
     }

    svg {
        width: 30px;
    }

    svg path {
        fill: $secondary;
        transition: all 0.3s ease-in-out;
    }

    &__title {
        margin-left: 10px;
        font-size: 16px;
        text-transform: capitalize;
        color: $secondary;
        transition: all 0.3s ease-in-out;

        &.entered {
            display: block;
        }

        &.exited,
        &.exiting {
            display: none;
        }
    }
}